---
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";
import { getShowcase } from "~/data/showcase";

const sites = await getShowcase();
---

<ContentSection title="Portafolio" id="showcase">
  <Fragment slot="lead">
    Estos son algunos <span class="text-primary">de los ejercicios</span>.{" "}
    <span class="text-primary">listos para</span> integrarlos en algunos{" "}
    <span class="text-primary">de sus proyectos</span>.
  </Fragment>

  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {sites.map((site) => <ShowcaseCard site={site} />)}
    </div>
    <p class="text-right text-sm">
      <a class="text-secondary" href="https://astro.build/showcase/">
        ...descarga el paquete webpack 2023 &rarr;
      </a>
    </p>
  </div>
</ContentSection>
